<h1><%= @task.title %></h1>
<h2><%= @task.details %></h2>
<div class="container">
</div>

<%= link_to 'Edit task', edit_task_path, class: 'btn btn-light' %>
<%= link_to 'Back', tasks_path, class: 'btn btn-light' %>