@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

h1 {
  font-weight: bold;
}

.container-task {
  margin: 16px;
  font-size: 32px;
} 

.button-div {
  margin: 16px;
}